*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image: url(./imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    background-color: #000000b2;
    position: relative;
    border: 1px solid rgb(36, 27, 44);
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 250px;
    margin: 0 auto;
    margin-top: 200px;
    box-shadow: #201717;
}

.caixa{
    align-items: center;
    position: absolute;
    width: 100%;
    margin: 0px 10 0px 10px ;
    overflow:hidden;
}

#box {
    white-space:wrap;
    background-color: rgba(255, 228, 196, 0.877);
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px 10px 0px ;
    text-decoration: none;
    height: 50px;
    margin-top: 10px;
    width: 90%;
    text-align: right;
    overflow:hidden;
}


.numero{
    background-color: rgb(221, 221, 221);
    border-style: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 3px;
    width: 40px;
    height: 30px;
}
.numero:hover{
    color: #5a5a5a;
    background-color: rgb(134, 124, 124);
}
.numero:active{
    color: white;
    background-color: rgb(73, 66, 66);
    
}
/*Botão de = para dar o valor*/
.contar{
    background-color: rgb(221, 221, 221);
    border-style: none;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 3px;
    width: 85px;
    height: 30px;
    font-size: large;
    font-weight: bold;
}
.contar:hover{
    color: #5a5a5a;
    background-color: rgb(134, 124, 124);
}
.contar:active{
    color: white;
    background-color: rgb(73, 66, 66);
    
}

/*botão de somar*/
.somar{
    background-color: rgb(221, 221, 221);
    border-style: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 3px;
    width: 40px;
    height: 30px;
}
.somar:hover{
    color: #5a5a5a;
    background-color: rgb(134, 124, 124);
}
.somar:active{
    color: white;
    background-color: rgb(73, 66, 66);
    
}

/*Botão de tirar*/
.tirar{
    background-color: rgb(221, 221, 221);
    border-style: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 3px;
    width: 40px;
    height: 30px;
}
.tirar:hover{
    color: #5a5a5a;
    background-color: rgb(134, 124, 124);
}
.tirar:active{
    color: white;
    background-color: rgb(73, 66, 66);
    
}

/*Borão de Multiplicar*/
.multiplicar{
    background-color: rgb(221, 221, 221);
    border-style: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 3px;
    width: 40px;
    height: 30px;
}
.multiplicar:hover{
    color: #5a5a5a;
    background-color: rgb(134, 124, 124);
}
.multiplicar:active{
    color: white;
    background-color: rgb(73, 66, 66);
    
}
/*Botão de dividir*/

.dividir{
    background-color: rgb(221, 221, 221);
    border-style: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 3px;
    width: 40px;
    height: 30px;
}
.dividir:hover{
    color: #5a5a5a;
    background-color: rgb(134, 124, 124);
}
.dividir:active{
    color: white;
    background-color: rgb(73, 66, 66);
    
}

/*Botão de apagar*/

.clearn{
    background-color: rgb(221, 221, 221);
    border-style: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 3px;
    width: 40px;
    height: 30px;
    font-weight: bold
}
.clearn:hover{
    color: #5a5a5a;
    background-color: rgb(134, 124, 124);
}
.clearn:active{
    color: white;
    background-color: rgb(73, 66, 66);
}
/*apagar*/

.apagar{
    background-color: rgb(221, 221, 221);
    background-image: url(/imagens/back.png);
    border-style: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 3px;
    width: 40px;
    height: 30px;
    font-weight: bold;
}
.apagar:hover{
    color: #5a5a5a;
    background-color: rgb(134, 124, 124);
}
.apagar:active{
    color: white;
    background-color: rgb(73, 66, 66);
    
}

/*Arroba*/

.arroba{
    background-color: rgb(221, 221, 221);
    border-style: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 3px;
    width: 40px;
    height: 30px;
}
.arroba:hover{
    color: #5a5a5a;
    background-color: rgb(134, 124, 124);
}
.arroba:active{
    color: white;
    background-color: rgb(73, 66, 66);
    
}

/*Virgula*/

.ponto{
    background-color: rgb(221, 221, 221);
    border-style: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 3px;
    width: 40px;
    height: 30px;
    font-weight:bold ;
}
.ponto:hover{
    color: #5a5a5a;
    background-color: rgb(134, 124, 124);
}
.ponto:active{
    color: white;
    background-color: rgb(73, 66, 66);
    
}


.valores{
    margin: 70px 0 10px 10px ;
}


/*Manipulando rodapé*/
.rodape{
    margin-top: 150px;
    display: flex;

}

.box2{
    display: flex;
    color: white;
    width: 100%;
    height: 100vh;
    max-height: 120px;
    justify-content: center;
    align-items: center;
}

.contatinho{
    color: #000000;
    text-align: justify;
}
.contatinho span{
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.contatinho p{
    text-align: justify;
    font-size: 16px;
}

.center{
    font-size: 18px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.center a{
    text-decoration: none;
    color: #6606af;
}

.social{
    display: flex;
    width: 100%;
    padding-left: 80px;
    padding-right:80px ;
    align-items: center;   
    
}

.social img{
    gap: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    
}














